body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #C95405, #FF6B00, #fa7f26);
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    background-image: linear-gradient(130deg, #000000 ,#C95405, #FF6B00);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    color: #fff;
    text-align: left; /* Alinhamento à esquerda para o texto */
}

.header {
    display: flex;
    justify-content: space-between; /* Alinha os itens nas extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
}

.sair-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
    left: 15px;
    cursor: pointer;
}

.sair-button:hover {
    transform: scale(1.2);
    transition: .3s;
}

.montar-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 30px;
}

.montar-button:hover {
    transform: scale(1.2);
    transition: .3s;
}

.perfil-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 30px;
}

.perfil-button:hover {
    transform: scale(1.2);
    transition: .3s;
}

.logo {
    width: 50px;
    height: auto;
}

.greeting {
    text-align: center;
    padding: 10px;
}

.subtitle {
    margin: 10px 0;
}

.day-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.day {
    background-color: #fff;
    color: #c95405;
    padding: 15px;
    border-radius: 5px;
    width: 45%; /* Ajuste a largura conforme necessário */
}

.separator {
    border: none;
    height: 2px;
    background-color: #fff;
    margin: 30px 0;
}

.history-title {
    font-size: 24px;
    margin: 10px 0;
    margin-left: 340px;
}

.history-content {
    font-size: 16px;
    margin-left: 100px;
}